---
import Layout from "@/layouts/Layout.astro";
import { Image } from "astro:assets";
import bioImage from "@/assets/img/fotomitterie.webp";

import { Content as BioSpanish } from "./bio-es.md";
import { Content as BioEnglish } from "./bio-en.md";
import { Content as BioFrench } from "./bio-fr.md";

import GoToTop from "@/components/GoToTop.astro";
import LangSelector from "@/components/LangSelector.astro";
import NewsletterBlock from "@/components/block/NewsletterBlock.astro";
---

<Layout title="About CABROCHICO">
    <GoToTop />
    <article class="bio p-4 sm:p-8 rounded-lg text-white">
        <Image
            src={bioImage}
            class="rounded-lg w-full"
            alt="Picture of all members"
            width="800"
            height="800"
        />
        <div class="flex justify-end mt-4">
            <LangSelector id="lang-selector" class="hidden -mb-6"/>
        </div>
        <div>
            <div id="bio-en" class="hidden">
                <BioEnglish />
            </div>
            <div id="bio-es" class="hidden">
                <BioSpanish />
            </div>
            <div id="bio-fr" class="hidden">
                <BioFrench />
            </div>
        </div>
    </article>

    <NewsletterBlock class="mt-8" />

    <style>
        @tailwind base;

        @layer base {
            .bio {
                background: #0006;
                p {
                    @apply mt-2 mb-3;
                }
                p:first-child {
                    @apply mt-0;
                }
                p:last-child {
                    @apply mb-4;
                }

                h1,
                h2,
                h3 {
                    @apply font-bold mt-2 mb-3;
                }
                h1 {
                    @apply text-2xl;
                }
                h2 {
                    @apply text-xl;
                }
                h3 {
                    @apply text-lg;
                }
                a {
                    @apply underline;
                    color: var(--cc-color-green);
                }
            }
        }
    </style>
</Layout>

<script>
    import { $ } from "@/lib/dom-selector";

    document.addEventListener("astro:page-load", () => {
        const urlParams = new URLSearchParams(window.location.search);
        const lang = urlParams.get("lang") ?? navigator.language ?? "en";
        const langCode = lang.slice(0, 2);

        $(".dropdown").dataset.lang = langCode;

        if (urlParams.get("flags")) {
            $("#lang-selector").classList.remove("hidden");
        }
    });
</script>
