---
import RoundButton from "@/components/RoundButton.astro";

const { class: className, ...rest } = Astro.props;
---

<section class={className}>
    <h1 class="font-bold text-3xl text-center">
        {"// CONTACT //"}
    </h1>
    <p class="mt-8 text-center">
        Got a question, looking to book us, want to buy some merch, or have a
        love story to share?
        <br />
        Click the button below to get in touch. We'd love to hear from you!
    </p>
    <RoundButton
        class="mt-8 mx-auto"
        href="https://ig.me/m/cabrochicoband"
        title="CONTACT US"
    />
</section>
