---
import Layout from "../layouts/Layout.astro";

const BIO = `
CABROCHICO is a punk-rock group known for their high-energy performances. Formed in 2021. Today, the band consists of two guitars, a bass, the drums, and three voices, all hailing from Latin America and residing in Lille, France.
With two EPs already released, they excite fans of alternative music. Inspired by skate-surf-punk-rock and internet memes, their songs are all in Spanish.
Cabrochico embodies the thrill of playing relentlessly and ensuring that the audience has just as much fun!
`;
---

<Layout title="Biografia de CABROCHICO">
    <img src="/img/cc-four-pink.jpeg" />
    <article class="bio mt-8">
        {BIO.split("\n").map((line) => line.length > 0 && <p>{line}</p>)}
    </article>
</Layout>

<style>
    .bio {
        border: 1px solid rgb(100 3 51);
        background: linear-gradient(rgb(209 76 142), rgb(134 24 80));
        padding: 1.5rem;
        border-radius: 8px;

        & p:not(:first-child):not(:last-child) {
            margin: 8px auto;
        }
    }
</style>
