---
import Layout from "@/layouts/Layout.astro";
import Concert from "@/components/Concert.astro";
import FutureConcerts from "@/components/block/FutureConcerts.astro"


import { PAST_CONCERTS } from "@/concerts";


const DATE_FORMATTER = new Intl.DateTimeFormat("fr-FR", {
    dateStyle: "short",
    timeZone: "Europe/Paris",
});

---

<Layout title="Concerts">
    <FutureConcerts class="mt-8"/>

    <h1 class="mb-8 font-bold md:text-3xl text-2xl">{"// PAST CONCERTS"}</h1>
    {
        PAST_CONCERTS.map(({ date, place, city, bands, source }) => (
            <div class="mb-4">
                <Concert
                    formattedDate={DATE_FORMATTER.format(Date.parse(date))}
                    place={place}
                    city={city}
                    bands={bands}
                />
            </div>
        ))
    }
</Layout>
