---
import Layout from "../layouts/Layout.astro";
import FancyBoxGallery from "@/components/FancyBoxGallery.astro";
---

<Layout title="Gallery">
    <h1 class="text-3xl font-bold text-center">PHOTOS 📸</h1>
        <FancyBoxGallery/>
    </section>
</Layout>
