---
import { BASE } from "../constants";
import Layout from "../layouts/Layout.astro";
import Modal from "../components/Modal.astro";
import ImageModal from "../components/ImageModal.astro";

const IMGS = [
    "/cabrochico/img/cc-four-pink.jpeg",
    "/cabrochico/img/revenga cover.png",
    "/cabrochico/img/flyers/20220916.jpeg",
    "/cabrochico/img/cc-four.jpeg",
    "/cabrochico/img/cc-four-pink.jpeg",
    "/cabrochico/img/revenga cover.png",
    "/cabrochico/img/cc-four.jpeg",
    "/cabrochico/img/cc-four-pink.jpeg",
    "/cabrochico/img/revenga cover.png",
    "/cabrochico/img/cc-four.jpeg",
    "/cabrochico/img/cc-four-pink.jpeg",
    "/cabrochico/img/revenga cover.png",
];

function hashCode(str) {
    return str
        .split("")
        .reduce(
            (prevHash, currVal) =>
                ((prevHash << 5) - prevHash + currVal.charCodeAt(0)) | 0,
            0
        );
}
---

<Layout title="Gallery">
    <h1 class="text-3xl font-bold text-center">PHOTOS 📸</h1>
    <section class="grid gap-4 place-items-center mt-8 place-content-center">
      <ImageModal/>
        {
            IMGS.map((src) => (
                <button class="image-container thumbnail" data-url={src}>
                    <img src={src} class="block opacity-0 transition-opacity" onload="this.style.opacity=1" loading="eager" />
                </button>
            ))
        }
    </section>
</Layout>

<style>
    section {
      animation: resize 200ms;
        display: grid;
        grid-template-columns: repeat(auto-fill, 140px);
    }
    .thumbnail {
        width: 100%;
        height: 100%;
        transition: scale 250ms;
        overflow: hidden;
    }

    .thumbnail:hover {
        scale: 1.05;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
</style>
