---
import Layout from "../layouts/Layout.astro";
import RoundButton from "../components/RoundButton.astro";
---

<Layout title="Sitio oficial de CABROCHICO.">

    <!-- LAST ALBUM -->

    <article class="grid w-full grid-cols-2 gap-4">
        <img src="/img/revenga cover.png" />
        <div class="p-4 items-center">
            <h2 class="text-2xl font-bold mb-4">REVENGA! // LAST ALBUM</h2>

            <div class="mt-4">
                <a
                    href="https://open.spotify.com/album/1nM3ZpxapPEZX7gQqXucxq?si=6nksRsbTRDCDPKM-COpVbA"
                >
                    <img
                        src="/img/spotify-logo.svg"
                        class="inline-block h-[30px] mt-[6px]"
                    />
                </a>
                <a href="https://music.apple.com/us/album/revenga/1713025897">
                    <img
                        src="/img/apple-music-logo.svg"
                        class="inline-block h-[23px] ml-[10px]"
                    />
                </a>
            </div>

            <RoundButton
                class="mt-6"
                href="https://artists.landr.com/064837126494"
                title="LISTEN NOW"
            />
        </div>
    </article>

    <h1 class="mt-24 mb-4 font-bold text-3xl">{"// VIDEO //"}</h1>

    <!-- VIDEO -->

    <iframe
        class="w-full h-auto aspect-video mb-4"
        src="https://www.youtube-nocookie.com/embed/OvW8sQG0tpk?si=iY-4JKLVwaUT7aRi"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen
        loading="lazy"
    >
    </iframe>
    <RoundButton
        class="mx-auto"
        href="https://www.youtube.com/@cabrochicoband"
        title="WATCH MORE"
    />

    <!-- CONCERTS -->

    <h1 class="mt-24 mb-4 font-bold text-3xl">{"// CONCERTS //"}</h1>
    <RoundButton href="" title="SEE PAST" />

    <!-- CONTACT -->

    <h1 class="mt-24 mb-4 font-bold text-3xl">{"// CONTACT //"}</h1>
    <p>
        want to reach out? wanna buy some merch ? want to share a love story ?
    </p>
    <RoundButton class="mt-8" href="https://ig.me/m/cabrochicoband" title="CONTACT US" />
</Layout>