---
import { BASE } from "@/constants";
import Layout from "@/layouts/Layout.astro";
import RoundButton from "@/components/RoundButton.astro";
import ContactBlock from "@/components/block/ContactBlock.astro";

import { Image } from "astro:assets";
import revengaCover from "@/assets/img/revenga cover.png";
import NewsletterBlock from "@/components/block/NewsletterBlock.astro";

import { FUTURE_CONCERTS } from "@/concerts";
import FutureConcerts from "@/components/block/FutureConcerts.astro";
---

<Layout title="Sitio oficial de CABROCHICO.">
    <!-- LAST ALBUM -->

    <article class="grid grid-cols-1 sm:grid-cols-2 gap-4 mt-0 sm:mt-4">
        <Image
            src={revengaCover}
            alt="Cover of REVENGA!"
            width="400"
            height="400"
            class="max-w-[80%] sm:max-w-full mx-auto sm:mx-0"
        />
        <div class="items-center w-full">
            <h2 class="text-2xl font-bold mb-4 text-center sm:text-start">
                REVENGA! // LAST ALBUM
            </h2>

            <div class="mt-4 text-center sm:text-start">
                <a
                    href="https://open.spotify.com/album/1nM3ZpxapPEZX7gQqXucxq?si=6nksRsbTRDCDPKM-COpVbA"
                >
                    <img
                        src=`${BASE}/img/spotify-logo.svg`
                        class="inline-block h-[30px] mt-[6px]"
                    />
                </a>
                <a href="https://music.apple.com/us/album/revenga/1713025897">
                    <img
                        src=`${BASE}/img/apple-music-logo.svg`
                        class="inline-block h-[23px] ml-[10px]"
                    />
                </a>
            </div>

            <RoundButton
                class="mt-6 mx-auto sm:mx-0"
                href="https://artists.landr.com/064837126494"
                title="LISTEN NOW"
            />
        </div>
    </article>

    <!-- VIDEO -->
    <hr class="lg:!mt-32"/>

    <h1 class="mb-12 font-bold text-3xl text-center">{"// VIDEO //"}</h1>
    <iframe
        class="w-full h-auto aspect-video"
        src="https://www.youtube-nocookie.com/embed/OvW8sQG0tpk?si=iY-4JKLVwaUT7aRi"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen
        loading="eager"
    >
    </iframe>
    <RoundButton
        class="mx-auto mt-12"
        href="https://www.youtube.com/@cabrochicoband"
        title="WATCH MORE"
    />

    <hr />
    {
        FUTURE_CONCERTS.length > 0 &&

        <FutureConcerts/>
        <hr />
    }
    <ContactBlock />
    <hr />
    <NewsletterBlock/>
</Layout>

<style>
    hr {
        @apply mt-16 lg:mt-20;
        @apply mb-16 lg:mb-20;
        background: linear-gradient(
            to right,
            transparent,
            rgba(255, 255, 255, 0.7),
            transparent
        );
        height: 1px;
        border: 0;
    }
</style>
