---
import { map } from "astro/zod";

interface Props {
    yyyyMMdd: string;
    place: string;
    city: string;
    bands?: string[];
}

const { yyyyMMdd, place, city, bands } = Astro.props;
const hasOtherBands = Array.isArray(bands) && bands.length;

const DATE_FORMATTER = new Intl.DateTimeFormat("fr-FR", {
    dateStyle: "short",
    timeZone: "Europe/Paris",
});
---

<article class="flex flex-row">
    <p>
        <span class="date">
            {DATE_FORMATTER.format(Date.parse(yyyyMMdd))}
        </span>
        <span class="place">
        • {city.toUpperCase()} • {place}
        </span>
        {
            hasOtherBands && (
                <span class="bands">
                    {bands.map((bandName) => <span> + { bandName }</span>)}
                </span>
            )
        }
    </p>
</article>

<style>
    .date {
        text-transform: capitalize;
    }
</style>
