---
import { map } from "astro/zod";

interface Props {
    highlightSize?: boolean;
    formattedDate: string;
    place: string;
    city: string;
    bands?: string[];
}

const { formattedDate, place, city, bands, highlightSize } = Astro.props;
const hasOtherBands = Array.isArray(bands) && bands.length;
---

<article class={`${highlightSize || false ? "highlight": "flex flex-row"}`}>
    <p>
        <span class="date">{formattedDate}</span>
        <span class="city">{city.toUpperCase()}</span>
        <span class="place">{place}</span>
        {
            hasOtherBands && (
                <span class="bands">
                    {bands.map((bandName) => (
                        <span> + {bandName}</span>
                    ))}
                </span>
            )
        }
    </p>
</article>

<style>
    .highlight {
      @apply text-3xl text-center uppercase
    }
    .highlight .date, .highlight .bands {
      display: block;

    }
    .highlight .place, .highlight .city {

    }
    .date {
        text-transform: capitalize;
    }
    .place {
        @apply font-semibold;
    }

    .city::before, .place::before {
      content: " • "
    }

    .highlight .city::before {
      content: ""
    }


</style>
