---
const year = new Date().getFullYear()
---
<footer
	class="mt-auto flex w-full flex-col pb-10 pt-14 px-8"
>
<!-- <hr style="margin: 0px 5em; border: 1px solid grey; border-radius: 1em; background-color: gray;"> -->
<hr class="mt-20">
<span class="mt-4 mx-auto text-white">
    ©Yotechumito {year}
</span>
</footer>