---
import ExternalLinks from "@/components/ExternalLinks.astro";
import Navigation from "@/components/Navigation.astro";
import { BASE } from "@/constants";
import HornCursor from "./HornCursor.astro";
---

<header class="relative p-2 sm:pb-6">
    <Navigation />
    <HornCursor />
    <div class="w-[450px] max-w-[85%] h-auto mx-auto mb-8 mt-8 sm:mt-4">
        <a href={BASE}>
            <img src=`${BASE}/img/cabrochico.svg` alt="Logo CABROCHICO" />
        </a>
    </div>
    <p class="text-center text-white font-semibold">
        Somos cabrochico y queremos jugar!
    </p>
    <ExternalLinks />
</header>
