---
import ExternalLinks from "../components/ExternalLinks.astro";
import Navigation from "../components/Navigation.astro";
import { BASE } from "../constants.js";
import HornCursor from "./HornCursor.astro";
---

<header class="relative pb-6">
    <Navigation />
    <HornCursor />
    <a href={BASE}>
        <img
            class="mx-auto mb-8 mt-8 sm:mt-4"
            src=`${BASE}/img/cabrochico.svg`
            alt="Logo CABROCHICO"
        />
    </a>
    <p class="text-center text-white font-semibold">
        Somos cabrochico y queremos jugar!
    </p>
    <ExternalLinks />
</header>

<style>
    img {
        max-width: 85%;
        width: 450px;
        height: auto;
    }
</style>
