<a role="button" class="block
mt-4
text-nowrap whitespace-nowrap 
text-center
max-w-fit
bg-black hover:bg-black-700 
text-white font-semibold text-xl 
px-4 py-2 
border rounded-full">
    <span><slot/></span>
</a>