---
interface Props {
	title: string;
	href: string;
	class?: string
}

const { href, title, class: className } = Astro.props;
---
<a
  href={href}
  role="button"
  class={`
        block
        text-nowrap whitespace-nowrap
        text-center
        max-w-fit
        transition duration-200 ease-in-out
        bg-black hover:bg-[#112c16] hover:scale-110
        text-white font-semibold text-xl
        px-4 py-2
        border rounded-full
        ${className}
  `}
>
  <span>{title}</span>
</a>
